.gotInvites{
    animation: gotInvites 5s infinite linear;
}
@keyframes gotInvites {
    0%{
      transform: rotate(-15deg)
    }
    50% {
      transform: rotate(15deg)
    }
    100% {
      transform: rotate(-15deg)
    }
  }

  /* .gotInvites::after{
      margin-left:6px;
      font-weight: bold;
      color:white;
      content: "2"
  } */