<<<<<<< HEAD
=======
body {
  padding: 0;
  background-image: url("https://i.imgur.com/k9oTs43.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  max-width: 100%;
}
>>>>>>> origin/design
