.card-position {
  position: relative;
  bottom: 50%;
}

.title-header {
  position: absolute;
  top: 20%;
  color: aliceblue;
}

.title-subheader {
  position: absolute;
  top: 30%;
  color: aliceblue;
}
